{% extends 'base.html' %}

{% block title %}
Shop
{% endblock %}

{% block content %}

<style>
    .card-custom {
        max-width: 256px;
        min-width: 256px;
    }
</style>

<div class="row mt-5 justify-content-center">
    {% for i in goods %}
    <div class="card card-custom mx-2 mb-3">
        <img src="/shop/getpic/{{i['id']}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{i['name']}}</h5>
            <p class="card-text">{{i['value']}}人民币</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="/shop/buy/{{i['id']}}">购买</a>
            <a class="btn btn-secondary" href="/shop/detail/{{i['id']}}">详情</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}