<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>生成邀请码</title>
    {%include 'head.html'%}
</head>

<body>

    {%include 'navbar.html'%}
    {%if invite_code%}
    <div class="text-center">
        <h2>生成成功!</h2>
        <p class="lead">邀请码为{{invite_code}}</p>
        <form class="form-signin" action="invite" method="GET">
            <button class="btn btn-lg btn-primary btn-block" type="submit">继续生成</button>
        </form>
        <form class="form-signin" action="list_file" method="GET">
            <button class="btn btn-lg btn-primary btn-block" type="submit">返回我的文件</button>
        </form>
    </div>
    {%else%}
    <div class="container">
        <div class="text-center">
            <h2>生成邀请码</h2>
            <p class="lead">邀请码可用于注册一个用户.</p>
            <p class="lead">确定生成吗?</p>
            <form class="form-signin" action="invite" method="POST">
                <button class="btn btn-lg btn-primary btn-block" type="submit">确定</button>
            </form>
            <form class="form-signin" action="list_file" method="GET">
                <button class="btn btn-lg btn-primary btn-block" type="submit">取消</button>
            </form>
        </div>
    </div>
    {%endif%}

</body>


</html>