<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8" />
    <title>我的文件</title>
    <link href="static/login.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.z01.com/v4/dist/css/bootstrap.min.css">

</head>

<body>
    {%include 'navbar.html'%}
    <table class="form-signin">
        {%for i in name%}
        <tr>
            <td><a class='form-control btn btn-lg btn-primary btn-block' href="/download/{{i}}" download="{{i}}">{{i}}</a></td>
            <td><a class='form-control btn btn-lg btn-primary btn-block' href="/delete/{{i}}">删除</a></td>
        </tr>
        {%endfor%}
    </table>
    


</body>

</html>