<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8" />
    <title>我的文件</title>
</head>

<body>
    {%for i in name%}
    <a href="/download/{{i}}" download="{{i}}">{{i}}</a>
    <a href="/delete/{{i}}">删除</a>
    <br />
    {%endfor%}
    <br /><br /><br />
    <form action="/upload_file" method="GET">
        <input type="submit" value="上传文件" />
    </form>
    <form action="/logout" method="GET">
        <input type="submit" value="注销" />
    </form>
    <form action="/register" method="GET">
        <input type="submit" value="注册" />
    </form>
</body>

</html>