<!doctype html>
<html lang="zh-CN">

<head>
    <title>登录</title>
    <meta name="description" content="">
    <meta name="author" content="">
    {%include 'head.html'%}
</head>

<body>
    {%include 'navbar.html'%}
    <form class="form-signin" action="login" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Account</label>
        <input type="text" class="form-control" placeholder="Account" required autofocus name='user'>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" required name="pwd">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    {%include 'foot.html'%}


</body>

</html>