<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <title>Logs</title>
    {%include 'head.html'%}
</head>

<body>
    {%include 'navbar.html'%}
    <h4>登录日志</h4>
    <iframe src="/login_log">
        <p>Your browser does not support iframes.</p>
    </iframe>
    <br/>
    <h4>注册日志</h4>
    <iframe src="/register_log">
        <p>Your browser does not support iframes.</p>
    </iframe>
    <br/>
    <h4>邀请码</h4>
    <iframe src="/list_invite_code">
        <p>Your browser does not support iframes.</p>
    </iframe>
    <br/>
    <h4>删除失败日志</h4>
    <iframe src="/delete_log">
        <p>Your browser does not support iframes.</p>
    </iframe>
    <br/>
    <h4>用户</h4>
    <iframe src="/list_user">
        <p>Your browser does not support iframes.</p>
    </iframe>
    {%include 'foot.html'%}


</body>

</html>