<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/login.css" rel="stylesheet">
</head>

<body>


    <form class="form-signin" action="register" method="POST">
        <!--img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"-->
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <label for="inputAccount" class="sr-only">Account</label>
        <input type="text" class="form-control" placeholder="Account" required autofocus name='user'>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" required name="pwd">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" required name="re_pwd">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <a class ='form-control btn btn-lg btn-primary btn-block' href="login">Go to login</a>
    </form>
</body>


</html>