<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>注册</title>
    {%include 'head.html'%}
</head>

<body>

    {%include 'navbar.html'%}
    <form class="form-signin" action="register" method="POST">
        <h1 class="text-center h3 mb-3 font-weight-normal">注册新账号</h1>
        <input type="text" class="form-control" placeholder="用户名" required autofocus name='user'>
        <input type="text" class="form-control" placeholder="邀请码" required name="invite_code">
        <input type="password" class="form-control" placeholder="密码" required name="pwd">
        <input type="password" class="form-control" placeholder="再次输入密码" required name="re_pwd">
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
    </form>
    {%include 'foot.html'%}
</body>


</html>