<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>分享</title>
    {%include 'head.html'%}
</head>

<body>
    {%include 'navbar.html'%}
    <div class="have-margin card-columns">
            {%for i in links%}
            <div class="card border-dark">
                <div class="card-header">{{i[0]}}</div>
                <div class="card-body">
                    <h5 class="card-title"><a class="text-dark">{{i[1]}}</a></h5>
                    <p class="card-text">{{i[2]}}</p>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
            {%endfor%}
       
    </div>
    {%include 'foot.html'%}

</body>

</html>