<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>分享文件</title>
    {%include 'head.html'%}
</head>

<body>

    {%include 'navbar.html'%}
    {%if share_link%}
    <div class="text-center">
        <h2>生成成功!</h2>
        <p class="lead">分享的链接为</p>
        <p class="lead">https://www.lambdaof.xyz/s?link={{share_link}}</p>
        <form class="form-signin" action="list_file" method="GET">
            <button class="btn btn-lg btn-primary btn-block" type="submit">返回我的文件</button>
        </form>
    </div>
    {%else%}
    <div class="container">
        <div class="text-center">
            <form class="form-signin" action="share" method="POST">
                <h1 class="text-center h3 mb-3 font-weight-normal">生成分享链接</h1>
                <input type="text" value="{{user}}" name='user' hidden>
                <input type="text" value="{{path}}" name='filename' hidden>
                <input type="number" class="form-control" placeholder="有效天数（选填）" autofocus name='time' value="">
                <input type="password" class="form-control" placeholder="分享密码（选填）" name="pwd" value="">
                <button class="btn btn-lg btn-primary btn-block" type="submit">确定</button>
            </form>
        </div>
    </div>
    {%endif%}

</body>


</html>