<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8" />
    <title>上传文件</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/login.css" rel="stylesheet">
</head>

<body>
    <form class="form-signin" action='/upload_file' method=POST enctype='multipart/form-data'>
        <input class="btn btn-lg btn-primary btn-block" type='file' name='file' multiple />
        <input class="btn btn-lg btn-primary btn-block" type='submit' value='上传' />
    </form>
    <nav>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="form-signin" action="/list_file" method="GET">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="我的文件" />
            </form>
            <form class="form-signin" action="/logout" method="GET">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="注销" />
            </form>
        </div>
    </nav>
</body>

</html>